.banner-section, .about-section{
  width: auto;
  height: auto;
}
.banner-section form.wp-block-search__button-inside.wp-block-search__icon-button.alignleft.wp-block-search, .banner-section .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper{
	border: none !important;
}
/*Banner section*/
.banner-section img {
  width: 100% !important;
}
.banner-section form.wp-block-search__button-inside.wp-block-search__icon-button.alignleft.wp-block-search{
	background: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 10px 0 rgb(111, 111, 111, 0.3);
  padding: 5px 10px;
  width: 80%;
}
.banner-section input.wp-block-search__input {
    margin: 0;
}
.banner-section button.wp-block-search__button.has-icon {
  text-align: center;
  float: right;
  text-indent: -9999px;
  background: url(../images/search.png) no-repeat scroll 0 5px;
  border: none;
}
.banner-section .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button{
	padding: 0 15px;
}
.banner-section input[type="search"]{
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
}
/*About section*/
.about-section h2{
  font-weight: 600 !important;
  letter-spacing: 1px;
}
.about-section p{
  letter-spacing: 0px;
}
.about-section h3{
  letter-spacing: 1px;
  font-weight: 600 !important;
}
.about-section h2:after{
  content: "";
  border-bottom: solid 4px #fd6c4f;
  position: relative;
  width: 10%;
  margin: 10px auto;
  display: block;
}
.about-section .about-box:hover {
    box-shadow: 0 0 10px 2px #eee;
}
@media screen and (max-width:767px) {
  .banner-section h1{
    font-size: 27px !important;
  }
  .banner-section h4{
    font-size: 20px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
  .about-section .wp-block-column.is-vertically-aligned-center {
    flex-basis: 100% !important;
  }
  .about-section .wp-block-columns.alignwide.content-boxes{
  	flex-wrap: nowrap;
  }
  .about-section h3{
  	font-size: 20px !important;
  }
}