#customize-controls .control-section-vw-mobile-app .accordion-section-title:hover,
#customize-controls .control-section-vw-mobile-app .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-vw-mobile-app .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-vw-mobile-app .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/* ---------Customizer--------- */
.control-section-vw-mobile-app h3.accordion-section-title {
	background: linear-gradient(to right, #f94a5b , #fd6c4f) !important;
	color: #fff !important;
}
a.button.button-secondary.alignright {
	color: #fff;
  box-shadow: 2px 2px 0px 0px #2d313d;
  border: solid 1px #2d313d;
  border-bottom: none;
  background: #2d313d;
  font-weight: bold;
}
a.button.button-secondary.alignright:hover {
	background: #fff;
  color: #2d313d;
}
.customize-control-title {
  display: -webkit-inline-box;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #0085ba;
  padding: 0px 15px;
  color: #fff;
}

/*------- Typogarphy ----------*/

.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-style,
.customize-control-typography li.typography-font-size,
.customize-control-typography li.typography-line-height {
  float: left;
  width: 50%;
}
.customize-control-typography li.typography-font-weight select,
.customize-control-typography li.typography-font-style select {
  width: 90%;
}
.customize-control-typography li.typography-font-weight,
.customize-control-typography li.typography-font-size {
  clear: both;
}
.customize-control-typography li.typography-font-size input,
.customize-control-typography li.typography-line-height input {
  width: 90%;
}
input.typography-font-color {
  padding: 0;
  margin: 0;
}
li#customize-control-vw_mobile_app_h1_typography,
li#customize-control-vw_mobile_app_h2_typography,
li#customize-control-vw_mobile_app_h3_typography,
li#customize-control-vw_mobile_app_h4_typography,
li#customize-control-vw_mobile_app_h5_typography,
li#customize-control-vw_mobile_app_p_typography {
  border-bottom: solid 2px #1e1e1e1e;
  padding-bottom: 12px;
}

/* ---------Image Toggle --------- */
img.vw-mobile-app-radio-img-img {
   width: 80px;
   margin-right: 3px;
}
img.vw-mobile-app-radio-img-selected {
   border: solid 2px #0085ba;
}
/* ---------Excerpt & Logo --------- */
input#_customize-input-vw_mobile_app_excerpt_number,
input#_customize-input-logo_size, 
input#_customize-input-vw_mobile_app_slider_excerpt_number,
input#_customize-input-vw_mobile_app_about_excerpt_number,
input#_customize-input-vw_mobile_app_slider_opacity_color {
    width: 100%;
}
/* ---------FontAwesome Icon Styles--------- */
.type-icon{
  overflow: hidden;
}
.selected-icon{
  background: #F6F6F6;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
}
.selected-icon .fa{
  display: block;
  line-height: 45px;
}
.selected-icon span{
  position: absolute;
  background: #F6F6F6;
  right: -45px;
  top: -1px;
  height: 45px;
  width: 45px;
  border: 1px solid #EEE;
  font-size: 20px;
}
.icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;
}
.icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}
.icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.vw-mobile-app-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}
input[type="range"] {
  width: 100%;
}